
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #007bff; 
    --cor-secundaria: #1E90FF; 
    --cor-terciária: #87CEFA;
    --cor-quaternária: #1E90FF;
  }
  

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
