/* geral */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
}

main {
    margin-left: 100px;
}

.barradenav {
    background-color: yellow;
    max-width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.barradenav button {
    margin: 10px 0;
}

main {
    display: flex;
    background-color: blue;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    margin-left: 100px;
}

.info {
    background-color: antiquewhite;
    height: 80px;
    width: 150px;
    border: 1px solid #EFF;
    border-radius: 15px;
}

@media screen and (max-width: 500px) {
    .barradenav {
        min-width: 100%;
        max-width: 500px;
        position: fixed;
        bottom: 0;
        top: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .buttonbarra {
        max-width: 50px;
    }

    main {
        margin-left: 0;
        max-width: 500px;
        max-height: 100px;
        margin: 0;
    }

    .info {
        background-color: antiquewhite;
        height: 50px;
        width: 100px;
        border: 1px solid #EFF;
        border-radius: 15px;
    }
}