
/* geral */

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    
}


.barradenav {
    background-color: yellow;
    max-width: 100px;
    position: fixed;
    top: 0; /* Ajuste conforme necessário */
    left: 0;
    bottom: 0;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.barradenav button {
    margin: 10px 0;
}

main {
    display: flex;
    margin-left: 100px;
    background-color: blue;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
}

.info {
    background-color: antiquewhite;
   height: 80px;
   width: 150px;
   border: 1px solid #EFF;
   border-radius: 15px;
}


